{% extends "./base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5" style="display: flex; justify-content: center; align-items: center; margin-top: 500px;">
    <form method="post" action="{% url 'accounts:completed_profile' pk=profile.pk %}" style="margin-top: 150px; margin-bottom: 50px;">
        <h1 class="mb-4">Your Profile</h1>
        <div class="card p-4">
            <div class="mb-3">
                <h5 class="card-title">ქალაქი:</h5>
                <p class="card-text">{{ profile.city.city_name }}</p>
            </div>

            <div class="mb-3">
                <h5 class="card-title">უბანი:</h5>
                <p class="card-text">{{ profile.area.area_name }}</p>
            </div>

            <div class="mb-3">
                <h5 class="card-title">ქუჩა:</h5>
                <p class="card-text">{{ profile.street }}</p>
            </div>

            <div class="mb-3">
                <h5 class="card-title">კატეგორია:</h5>
                <p class="card-text">{{ profile.service_category.name }}</p>
            </div>

            <div class="mb-3">
                <h5 class="card-title">ქვეკატეგორია:</h5>
                <p class="card-text">{{ profile.sub_category.name }}</p>
            </div>

            <div class="mb-3">
                <h5 class="card-title">აღწერა:</h5>
                <p class="card-text">{{ profile.service_description }}</p>
            </div>

            <div class="mb-3">
                <h5 class="card-title">ტელეფონის ნომერი:</h5>
                <p class="card-text">{{ profile.phone_number }}</p>
            </div>

            <div class="mb-3">
                <h5 class="card-title">ფოტოსურათი</h5>
                <img src="{{ profile.photo.url }}" alt="Profile Photo" class="img-thumbnail">
            </div>
            <a href="{% url 'accounts:profile_edit' %}" class="btn btn-primary">Edit Profile</a>
            </div>
        </form>
    </div>


{% endblock %}
