[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = "*"
django-mptt = "*"
redis = "*"
celery = "*"
django-celery-results = "*"
djangorestframework = "*"
pillow = "*"
django = "*"
django-celery-email = "*"

[dev-packages]

[requires]
python_version = "3.11"
