<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset done</title>
</head>
<body>
<style>
    body {
        display: block;
        justify-content: center;
        align-content: center;
        margin-top: 100px;
        text-align: center;
    }
</style>
<p>შეამოწმეთ ელფოსტა, თუ თქვენი ექაუნთი რეალურია, მიიღებთ შეტყობინებას.</p>
<p>თუ არ მიგიღიათ შეტყობინება, გადაამოწმეთ, თუ შეიყვანეთ მითითებული ელფოსტა, ან შეამოწმეთ სპამ საქაღალდე...</p><br>
<a href="{% url 'home:home' %}">მთავარზე დაბრუნება</a>

</body>
</html>