<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<style>
    body {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 100px;
        text-align: center;
    }
</style>
    <form method="post">
        {% csrf_token %}
        <h3>შეიყვანეთ მეილი და დააჭირეთ პაროლის აღდგენას, <br> თუ რეალური ელფოსტა გაქვთ მითითებული, მიიღებთ პაროლის აღსადგენ ბმულს</h3>
        {{ form.as_p }}
        <button type="submit">პაროლის აღდგენა</button><br>
        <a href="{% url 'home:home' %}">მთავარზე დაბრუნება</a>
    </form>
</body>
</html>