<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password confirm</title>
</head>
<body>
<style>
    body {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 100px;
        text-align: center;
    }
</style>
{% if validlink %}
    <h3>Change password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">შეცვალე პაროლი</button>
    </form>
{% else %}
    <p>პაროლის შეცვლის ლინკი არასწორია, შესაძლოა ვადა გაუვიდა, ხელახლა სცადე</p>
{% endif %}
</body>
</html>